* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}

.login {
  padding: 1rem;
}

.login a {
  text-decoration: none;
}

.login span {
  cursor: pointer;
}

.main {
  max-width: 900px;
  height: 100ch;
  margin: 0 auto;
  padding: 1rem;
}

.post-list {
  max-width: 900px;
}

.notFound {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
