* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.login {
  padding: 1rem;
}

.login a {
  text-decoration: none;
}

.login span {
  cursor: pointer;
}

.main {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.post-list {
  max-width: 900px;
}

.notFound {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.spinner {
  display: block;
  position: fixed;
  z-index: 1031; /* High z-index so it is on top of the page */
  top: 50%;
  right: 50%; /* or: left: 50%; */
}
