.navbar {
    display: flex;
    justify-content: space-between;
}

.nav {
    margin: 10px 10px;
    display: flex;
}

.navElement {
    margin: 0 10px;
    max-width: 100%;
}

.backNav {
    margin: 10px 10px;
}
