.post__title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 1em;
  display: inline-block;
}

.post__title:after {
  content: '';
  position: relative;
  top: 3px;
  height: 1px;
  width: 100%;
  display: block;
  background-color: black;
}

.post__markdown {
  margin-top: 2em;
}

.post__footer {
  margin: 2em 0;
}

.post__right-link {
  float: right;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  padding-right: 15px;
  position: relative;
  margin-right: 2em;
}

.post__right-link::before,
.post__right-link::after {
  content: '';
  display: block;
  right: 0px;
  position: absolute;
  top: 50%;
  transition: right 0.1s;
}
.post__right-link::before {
  border-style: solid;
  border-width: 2px 2px 0 0;
  height: 6px;
  margin-top: -3px;
  width: 6px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.post__right-link::after {
  height: 2px;
  width: 11px;
}
.post__right-link:hover::before,
.post__right-link:hover::after {
  right: -3px;
}

.post__left-link {
  float: left;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  padding-left: 15px;
  position: relative;
  margin-left: 2em;
}

.post__left-link::before,
.post__left-link::after {
  content: '';
  display: block;
  left: 0px;
  position: absolute;
  top: 50%;
  transition: left 0.1s;
}
.post__left-link::before {
  border-style: solid;
  border-width: 0 0 2px 2px;
  height: 6px;
  margin-top: -3px;
  width: 6px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.post__left-link::after {
  height: 2px;
  width: 11px;
}
.post__left-link:hover::before,
.post__left-link:hover::after {
  left: -3px;
}

.post__footer-buttons {
  margin: 2em 0;
}

.post__button {
  padding: 1em 2em;
  color: white;
  display: inline-block;
  background: linear-gradient(92.13deg, #044945 37.5%, #093230 73.58%);
  box-shadow: 0px 9px 35px rgba(196, 220, 225, 0.56);
  border-radius: 110px;
  max-width: 400px;
}

.post__button-div {
  text-align: center;
}
