.posts {
  align-items: flex-start;
}

.posts__title {
  text-align: center;
  margin: 0 auto;
  margin-top: 2em;
  font-weight: 800;
  font-size: 1.5em;
}

/* .posts-list {
  border: 1px solid black;
}

.posts-list__post {
  display: flex;
  justify-content: space-between;
  overflow-wrap: break-word;
  padding: 0.313em;
}

.posts-list__post:hover {
  background-color: #ededed;
} */
