.posts-list {
  border: 1px solid black;
}

.posts-list__post {
  display: flex;
  justify-content: space-between;
  overflow-wrap: break-word;
  padding: 0.313em;
}

.posts-list__post:hover {
  background-color: #ededed;
}
